@using IAAI.Models
@model IAAI.Models.Master
@*@model List<IAAI.Models.Master>*@

@{

    ViewBag.RightTitle = "專家介紹";
    ViewBag.SideTitle = "關於我們";
    ViewBag.MenuItemCount = 5;

    ViewBag.MenuItem0Name = "關於我們";
    ViewBag.MenuItem0Url = Url.Action("Index", "F_AboutUs");

    ViewBag.MenuItem1Name = "組織架構";
    ViewBag.MenuItem1Url = Url.Action("Index", "F_Organization");

    ViewBag.MenuItem2Name = "沿革";
    ViewBag.MenuItem2Url = Url.Action("Index", "F_History"); ;

    ViewBag.MenuItem3Name = "配證會員";
    ViewBag.MenuItem3Url = Url.Action("Index", "F_CertifiedMembers");

    ViewBag.MenuItem4Name = "專家介紹";
    ViewBag.MenuItem4Url = Url.Action("Index", "F_Masters");

    Layout = "~/Views/Shared/FrontLayout.cshtml";
}


<div class="row">
    <div class="ts-service-wrapper">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="ts-service-image-wrapper">
                <span class="ts-service-image">
                    <img class="img-responsive" src="@Url.Content("~/Picture/" + Model.Picture)" alt=" @Html.DisplayFor(model => model.Name)">
                </span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="ts-service-info">
                <p></p><h3>@Html.DisplayFor(model => model.Name)</h3><p></p>
                <p><span>現職：</span>@Html.DisplayFor(model => model.PresentJob) </p>
                <p><span>學歷：</span>@Html.DisplayFor(model => model.Education) </p>
                <p>
                    <span>基本介紹：</span>
                    @Html.DisplayFor(model => model.Introduction)
                    @*<br> 1.曾經負責全台北市火災案件調查，編列建置全國第一套縱火劑鑑定系統.
                    <br> 2.任職刑事警察局鑑識科期間，負責支援全國刑事案件（含火災案件）之偵辦。
                    <br> 3.協助司法機關、檢察機關、警察機關、消防機關、軍方機構等調查疑難爭議火災案件。
                    <br> 4.協助跨境企業重大爆炸案件原因調查分析，搶救時效，減少二次損害。*@
                </p>
                <p>
                    <span>經歷：</span>
                    @Html.DisplayFor(model => model.Experience)
                    @*<br> 台北市政府消防局技佐、分隊長
                    <br> 刑事警察局鑑識科技士
                    <br> 中央警察大學講師、副教授、教授兼系主任/研究所長*@
                </p>
            </div>
        </div>

        @*如果你將它放在 view 的其他東西前面，它可能會將其他東西都覆蓋掉。*@

        @Html.Raw(Model.Description)

        <div class="col-md-12">
            <div class="ts-service-info">


                @*<p>
                </p><h3>專長：</h3> 火災學、火災原因調查、火災原因鑑定、縱火調查與防制、電氣火災調查與防制、火災危險評估與防制、災難生死學、消防倫理學 <p></p>
                <p>
                </p><h3>鑑定實務經驗：</h3> 1.建置全國第一套縱火劑GC/FID,GC/MSD,GC/IRD比對分析檔案。
                <br> 2.開發電線斷痕鑑定新技術—金相分析和數位影像分析，於國際科學會議發表。
                <br> 3.擔任縱火劑分析鑑定國際認證實驗室的品質主管。
                <br> 4.協助經濟部標準檢驗局設計商品事故通報系統，開發火災鑑定人員培訓課程並親自授課培養人才。
                <br> 5.協助創立全國第一個火災調查專業性相關的非營利機構-台灣發展研究院/災害調查與防制研究所。
                <br> 6.協助成立全國第一個火災調查相關的國際非營利組織-國際縱火調查人員協會-台灣分會 <p></p>
                <p>
                </p><h3>相關研究：</h3>
                <span>學術著作：</span>
                <br> 1.Chen, Chin-Lien, Huang Ching-Te and Cho, Ching-Wei; Arcing Before or After Fire; 13th International Conference and Exhibition, Fire and Materials (2013), pp.691-698.
                <br> 2. Huang Ching-Te, Chen, Chin-Lien and Cho, Ching-Wei; Metallography of the Beaded Copper Conductors, 2014 International Association of Arson Investigators International Annual Training Conference postor.
                <br> <span>研究計畫：</span>
                <br> 1.火災防範與原因調查技術研發科技計畫(1/4)（共同主持人），內政部（政府科技計畫），2009年。
                <br> 2.火災防範與原因調查技術研發科技計畫(2/4)（共同主持人），內政部（政府科技計畫），2010年。
                <br> 3.火災防範與原因調查技術研發科技計畫(3/4)（共同主持人），內政部（政府科技計畫），2011年。
                <br> 4.火災防範與原因調查技術研發科技計畫(4/4)（共同主持人），內政部（政府科技計畫），2012年。
                <p></p>
                <p>
                </p><h3>訓練或資格認證：</h3> 1.1987年教育部授證講師
                <br> 2.1991年教育部授證副教授
                <br> 3.1994年教育部授證教授
                <br> 4.1982年特種考試警察人員乙等消防人員考試及格
                <br> 5.GC操作與應用技術考試及格
                <br> 6.GC/MS操作與應用技術考試及格
                <br> 7.TAF實驗室認證規範ISO/IEC17025訓練合格
                <br> 8.TAF測試實驗室主管訓練合格
                <br> 9.TAF量測不確定度研討會參加證書
                <br> 10.TAF內部稽核研討會參加證書
                <br> 11.NFPA美國國家防火協會（National Fire Protection Association）會員
                <br> 12.IAAI國際縱火調查協會（International Association of Arson Investigation）會員
                <br> 13.2009經濟部全球首批標準化種子師資培訓（初級）課程教育訓練考試及格認證
                <br> 14.2011經濟部全球首批20名標準化種子師資培訓（中、高級）課程教育訓練考試及格認證
                <br> 15.2011年IAAI全球首批20名火災調查現場採樣訓練講師之合格授證者（CFI-ETC Train the trainer certified by IAAI）
                <br> 16.2011年參與IAAI年度會議/講習並經考試及格認證（certified by 國際縱火調查協會IAAI）
                <br> 17.2011年NFPA921/1033參與講習證書（certified by NFPA）(NFPA921為火災調查方法認證，NFPA1033為火災調查人員職能認證)
                <br> 18.2011年參與NFPA921新版視訊會議/講習並經考試及格認證（certified by 國際縱火調查協會IAAI）
                <br> 19.2011 年電氣與電器設備火災調查專業參與講習並經考試及格認證（certified by IAAI）
                <br> 20.2011 年國際縱火調查協會IAAI 火災調查職能認證CFITrainer.net (Certificate Fire Investigation)13 項考試及格認證：（certified by IAAI，計165 小時/15 項如附件）
                <br> 21.2012年參與IAAI年度會議/講習並經考試及格認證（certified by 國際縱火調查協會IAAI）
                <br> 22.2015年參與IAAI年度會議/講習並經考試及格認證（certified by 國際縱火調查協會IAAI） <p></p>
                <p>
                </p><h3>經歷：</h3> 台北市政府警察局消防警察大隊技佐、分隊長（71.07～76.10）
                <br> 刑事警察局鑑識科化學組技士（76.10～77.10）
                <br> 中央警察大學消防系講師（77.10～80.08）
                <br> 中央警察大學消防系副教授（80.08～83.08）
                <br> 中央警察大學消防系教授（83.08～88.01）
                <br> 中央警察大學消防系教授兼系主任、研究所長（88.01～92.08）
                <br> 中央警察大學消防系教授（83.08～ ）
                <p></p>
                <p>
                </p><h3>兼任公部門：</h3> 內政部消防署火災鑑定委員會委員
                <br> 基隆市政府火災鑑定委員會委員
                <br> 台北市政府火災鑑定委員會委員
                <br> 新北市政府火災鑑定委員會委員
                <br> 台南市政府火災鑑定委員會委員
                <br> 桃園縣政府火災鑑定委員會委員
                <br> 金門縣政府縣政顧問
                <br> 經濟部標準檢驗局TBT委員
                <br> 經濟部標準檢驗局CNS委員
                <br> 交通部高速鐵路工程局特種建築物防災計畫審查委員
                <br> 交通部觀光局防火標章審查委員
                <br> 內政部營建署建築審議委員
                <br> 內政部消防署消防審議委員
                <br> 內政部消防署消防人員執行勤務遭受暴力或意外危害致身心障礙不堪勝任職務依法退休或殉職撫卹案件審查小組委員
                <p></p>
                <p>
                </p><h3>兼任法人機構：</h3> 消防教育基金會董事（主管機關：消防署）
                <br> 消防安全中心基金會董事（主管機關：消防署）
                <br> 台灣發展研究院顧問（主管機關：教育部）
                <br> 全國消防設備師公會火災調查教育委員/專業證照發證講師（主管機關：消防署）
                <br> 保險犯罪防治中心諮詢委員（主管機關：保險局）
                <br> 台灣建築中心防火標章副召集人（前第一任召集人）（主管機關：營建署）
                <p></p>*@
            </div>
        </div>
    </div>
    <!-- Col 1 end -->
    
    <div class="tags-area clearfix">
        <div class="post-footer  pull-left">
            <a onclick="history.back()" onkeypress="history.back()" class="btn btn-primary">返回列表</a>
        </div>


    </div>

</div>
