@using IAAI.Models
@model IAAI.Models.Forum

@{
    ViewBag.Title = "討論區";
    ViewBag.RightTitle = "討論區";
    ViewBag.SideTitle = "會員專區";
    ViewBag.MenuItemCount = 3;

    ViewBag.MenuItem0Name = "討論區";
    ViewBag.MenuItem0Url = Url.Action("Index", "Forum");

    int userId = (int)Session["Id"];
    ViewBag.MenuItem1Name = "修改個人資料";
    ViewBag.MenuItem1Url = Url.Action("Edit", "ForumMembers", new { forumMemberId = userId });

    ViewBag.MenuItem2Name = "登出";
    ViewBag.MenuItem2Url = Url.Action("Logout", "ForumMembers");

    Layout = "~/Views/Shared/FrontLayout.cshtml";

    List<ForumReply> replyList = ViewBag.ReplyList;
}


@*<h2>Details</h2>*@

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="width: 100%;">

    @*<h2 class="page-title">討論區</h2>
        <hr class="botmargin-min">*@
    <!-- 內容開始 -->



    <style>
        .entry-header {
            background: #3c73b0;
            color: white;
            padding: 10px 30px;
        }

            .entry-header .entry-title {
                color: white;
            }

        .entry-title {
        }

        .post-meta-date {
        }

        .post-content {
            border: whitesmoke 1px solid;
            margin-bottom: 20px;
            box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
        }

        .entry-content {
        }

        .post {
            border: whitesmoke 1px solid;
            padding: 0;
        }

        .postInfo {
            padding: 10px 20px;
            background: #eee;
            text-align: right;
        }

        .respon {
            margin: 20px auto;
            display: inline-block;
            padding: 3px 8px;
            background: #b2b2b2;
            color: white;
            border-radius: 2px;
        }

        .post-body {
            background: #FCFCFC;
            padding: 30px;
            box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
        }

        .clear {
            clear: both;
        }

        .postMan {
            font-size: 16px;
        }
    </style>
    <div class="post-content">
        <div class="entry-header">
            <h2 class="entry-title">
                @Html.DisplayFor(modelItem => Model.Header)
            </h2>
            <span class="postMan"> 發表人:@Html.DisplayFor(modelItem => Model.ForumMember.Name)</span>

        </div><!-- header end -->
        <div class="postInfo">
            <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @Html.DisplayFor(modelItem => Model.InitDate)</span>


        </div>
        <div class="post-body">
            @*<div class="entry-content topmargin-min">
                <p> @Html.DisplayFor(modelItem => Model.Header)</p>

            </div>*@
            <div class="tags-area clearfix">

                @Html.DisplayFor(modelItem => Model.Main)

            </div>

        </div>

        
    </div><!-- post-body end -->

    <a class="respon" href="/F_Forum/Reply/@Model.Id">回應文章</a>
    <div class="clear"></div>


    <div class="post">
        <div class="row">

            @foreach (var replies in replyList)
            {
                <div class="col-md-12 col-sm-12 col-xs-12" style="width: 100%;">
                    <div class="entry-header">
                        <div class="post-media post-image postMan">
                            回應:@Html.DisplayFor(modelItem => replies.ForumMember.Name)
                        </div>
                    </div>
                    <div class="postInfo">
                        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @Html.DisplayFor(modelItem => replies.InitDate)</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="post-body">
                        
                        <p></p>
                        <p>@Html.DisplayFor(modelItem => replies.Main)</p>
                        <p></p>
                        
                    </div>
                    <!-- post-body end -->
                </div>
            }
        </div>
    </div>



    @*<div class="paging text-center">
        <div class="pagination">

            <span class="disabled">«</span><span class="disabled">»</span>
        </div>
    </div>*@

    <div class="post-footer  pull-left">
        @*<a onclick="history.back()" onkeypress="history.back()" class="btn btn-primary">返回列表</a>*@
        @Html.ActionLink("Back to List", "Index")
    </div>

    <!-- Content row 1 end -->
    <!-- 內容結束 -->

    <div class="tags-area clearfix">

        <div class="share-items pull-right" style="display: none">
            <ul class="post-social-icons unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>

</div>



@*<div>
        <h4>Forum</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ForumMember.Account)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ForumMember.Account)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Header)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Header)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Main)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Main)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InitDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InitDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
