@model IAAI.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>最新消息詳細資料</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyCatalog.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyCatalog.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @if (Model.Picture != null)
            {
                <img src="@Url.Content("~/Picture/" + Model.Picture)" alt="Certified Member Picture" style="width: 100px; height: 100px;" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Content)*@
            @Html.Raw(Model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
