@using IAAI.Models
@*@model IAAI.Models.Master*@
@model List<IAAI.Models.Master>

@{
    
    ViewBag.Title = "專家介紹";
    ViewBag.RightTitle = "專家介紹";
    ViewBag.SideTitle = "關於我們";
    ViewBag.MenuItemCount = 5;

    ViewBag.MenuItem0Name = "關於我們";
    ViewBag.MenuItem0Url = Url.Action("Index", "AboutUs");

    ViewBag.MenuItem1Name = "組織架構";
    ViewBag.MenuItem1Url = Url.Action("Index", "Organization");

    ViewBag.MenuItem2Name = "沿革";
    ViewBag.MenuItem2Url = Url.Action("Index", "History"); ;

    ViewBag.MenuItem3Name = "配證會員";
    ViewBag.MenuItem3Url = Url.Action("Index", "CertifiedMembers");

    ViewBag.MenuItem4Name = "專家介紹";
    ViewBag.MenuItem4Url = Url.Action("Index", "Masters");

    Layout = "~/Views/Shared/FrontLayout.cshtml";
}



@foreach (var item in Model)
{

    <div class="row">

        <div class="col-md-4">
            <div class="ts-service-wrapper">
                <div class="ts-service-image-wrapper">
                    <span class="ts-service-image">
                        <a href="/F_Masters/Details/@item.Id" title="@Html.DisplayFor(modelItem => item.Name)"><img class="img-responsive" src="@Url.Content("~/Picture/" + item.Picture)" alt="@Html.DisplayFor(modelItem => item.Name)"></a>
                    </span>
                </div>
                <div class="ts-service-info">
                    <h3><a href="/F_Masters/Details/@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                    <p>現職： @Html.DisplayFor(modelItem => item.PresentJob) </p>
                </div>
            </div>
        </div><!-- Col 1 end -->

       

    </div>

}